# Библиотека `pandas`: часть 1

*Ашот Гимишян*

## Домашнее задание

In [2]:
import pandas as pd

In [4]:
import numpy as np

### Задание 1

Загрузить массив `NumPy` из файла `"arr_pandas.npy"` (как в задании к предыдущему модулю) и преобразовать его в датафрейм. Массив содержит данные по результатам соревнований Scottish Hill Races в 2000 году (полное описание на английском языке можно посмотреть на [странице](https://vincentarelbundock.github.io/Rdatasets/doc/DAAG/races2000.html) с документацией по исходному файлу с данными).

**Подсказка (преобразование в датафрейм):**

In [11]:
arr = np.load("arr_pandas.npy", allow_pickle=True)

In [16]:
print(arr[:5])

[['Aonach Mor Gondola' 2.0 2000 0.40361111111111103 0.518888888888889
  'uphill']
 ['Broughton Brewery' 2.0 650 0.254444444444444 0.316666666666667 'other']
 ['El-Brim-Ick' 3.0 750 0.4858333333333329 0.3891666666666671 'other']
 ['The Devils Burdens' 21.0 4100 2.3997222222222203 3.09333333333333
  'relay']
 ['Tiso Carnethy' 6.0 2500 0.782222222222222 0.919166666666667 'hill']]

In [17]:
dat = pd.DataFrame(arr)  # arr - массив NumPy из файла
# Если при загрузке файла вы столкнетесь с ошибкой, в которой будет упомянут параметр allow_pickle=False
# То попробуйте явно задать значение этого параметра - allow_pickle=True при вызове функции загрузки файла

In [19]:
dat.head(5)

                    0     1     2         3         4       5
0  Aonach Mor Gondola   2.0  2000  0.403611  0.518889  uphill
1   Broughton Brewery   2.0   650  0.254444  0.316667   other
2         El-Brim-Ick   3.0   750  0.485833  0.389167   other
3  The Devils Burdens  21.0  4100  2.399722  3.093333   relay
4       Tiso Carnethy   6.0  2500  0.782222  0.919167    hill

### Задание 2

Определить, сколько в датафрейме строк и столбцов. Привести код и указать ответ в виде текста или комментария к коду.

In [25]:
print("Строк:", dat.shape[0])
print("Столбцов:", dat.shape[1])

Строк: 77
Столбцов: 6

### Задание 3

Присвоить столбцам следующие названия (указаны с пояснениями): 

* `id`: id участника
* `dist`: расстояние в милях (по карте)
* `climb`: высота, достигнутая на маршруте (в сумме за весь маршрут, в футах)
* `time`: время (в часах)
* `timef`: время для женщин (в часах)
* `type`: тип гонки (*hill*, *marathon*, *relay*, *uphill* or *other*)

In [27]:
dat.columns = ['id','dist','climb','time','timef','type']

In [29]:
dat.head(1)

                   id dist climb      time     timef    type
0  Aonach Mor Gondola  2.0  2000  0.403611  0.518889  uphill

### Задание 4

Вывести на экран значение высоты, достигнутой на маршруте участником *Norman's Law*.

In [58]:
dat.index = dat['id']

In [59]:
dat

                                    id  dist climb      time     timef    type
id
Aonach Mor Gondola  Aonach Mor Gondola   2.0  2000  0.403611  0.518889  uphill
Broughton Brewery    Broughton Brewery   2.0   650  0.254444  0.316667   other
El-Brim-Ick                El-Brim-Ick   3.0   750  0.485833  0.389167   other
The Devils Burdens  The Devils Burdens  21.0  4100  2.399722  3.093333   relay
Tiso Carnethy            Tiso Carnethy   6.0  2500  0.782222  0.919167    hill
...                                ...   ...   ...       ...       ...     ...
Tinto                            Tinto   4.5  1500  0.499444  0.581111    hill
Druim Fada                  Druim Fada   6.5  1000  0.751111  0.972222   other
Elrick                          Elrick   3.6   650  0.358056    0.4425   relay
Gondola                        Gondola   2.5  2000  0.387222  0.518889  uphill
Greenmantle                Greenmantle   2.0   650  0.254444  0.316667   other

[77 rows x 6 columns]

In [62]:
dat.loc["Norman's Law"]['climb']

700

### Задание 5
Вывести на экран значения показателей `dist`, `climb` , `time` для первых 10 участников.

In [65]:
dat[['dist', 'climb', 'time']].head(10)

                    dist climb      time
id
Aonach Mor Gondola   2.0  2000  0.403611
Broughton Brewery    2.0   650  0.254444
El-Brim-Ick          3.0   750  0.485833
The Devils Burdens  21.0  4100  2.399722
Tiso Carnethy        6.0  2500  0.782222
Criffel              7.0  1800  0.793333
Chapelgill           1.5  1400  0.314444
Norman's Law         5.0   700  0.464167
Craig Dunain         6.0   900  0.546111
Knockfarrel          5.0  1200  0.623333

### Задание 6

Вывести на экран сводную информацию по датафрейму, которая включает типы всех столбцов. Сколько столбцов типа `float` в датафрейме? Привести ответ на вопрос в виде текста или комментария к коду.

In [80]:
dat.info() # Нет столбцов типа float

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, Aonach Mor Gondola to Greenmantle
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      77 non-null     object
 1   dist    77 non-null     object
 2   climb   77 non-null     object
 3   time    77 non-null     object
 4   timef   75 non-null     object
 5   type    77 non-null     object
dtypes: object(6)
memory usage: 6.3+ KB

### Задание 7

Выбрать строки, которые соответствуют участникам эстафеты (*relay*).

In [82]:
dat.loc[dat['type']=="relay"]

                                    id  dist climb      time     timef   type
id
The Devils Burdens  The Devils Burdens  21.0  4100  2.399722  3.093333  relay
Ben Rha                        Ben Rha   7.5   800  0.738056  0.997222  relay
Elrick                          Elrick   3.6   650  0.358056    0.4425  relay

### Задание 8

Выбрать строки, которые соответствуют участникам гонки в холмах (*hill*), которые в сумме достигли высоты более 1000 футов. Посчитать, сколько таких участников.

In [108]:
x = dat[(dat['type']=="hill") & (dat['climb'] > 1000)]
x.head(3)

                          id dist climb      time     timef  type
id
Tiso Carnethy  Tiso Carnethy  6.0  2500  0.782222  0.919167  hill
Criffel              Criffel  7.0  1800  0.793333  1.003333  hill
Chapelgill        Chapelgill  1.5  1400  0.314444  0.376667  hill

In [109]:
len(x)

39

### Задание 9

Выбрать строки, соответствующие участникам, которые либо достигли высоты более 4000 футов, либо потратили менее 0.5 часов.

In [113]:
y = dat[(dat['time']<0.5) | (dat['climb'] > 4000)]

In [115]:
y.head()

                                    id  dist climb      time     timef    type
id
Aonach Mor Gondola  Aonach Mor Gondola   2.0  2000  0.403611  0.518889  uphill
Broughton Brewery    Broughton Brewery   2.0   650  0.254444  0.316667   other
El-Brim-Ick                El-Brim-Ick   3.0   750  0.485833  0.389167   other
The Devils Burdens  The Devils Burdens  21.0  4100  2.399722  3.093333   relay
Chapelgill                  Chapelgill   1.5  1400  0.314444  0.376667    hill

### Задание 10

Создать столбец `time_min`, который содержит время маршрута, измеренное в минутах.

In [116]:
dat['time_min'] = dat['time'] * 60

In [117]:
dat

,id,dist,climb,time,timef,type,time_min
id,,,,,,,
Aonach Mor Gondola,Aonach Mor Gondola,2.0,2000,0.403611,0.518889,uphill,24.216667
Broughton Brewery,Broughton Brewery,2.0,650,0.254444,0.316667,other,15.266667
El-Brim-Ick,El-Brim-Ick,3.0,750,0.485833,0.389167,other,29.15
The Devils Burdens,The Devils Burdens,21.0,4100,2.399722,3.093333,relay,143.983333
Tiso Carnethy,Tiso Carnethy,6.0,2500,0.782222,0.919167,hill,46.933333
...,...,...,...,...,...,...,...
Tinto,Tinto,4.5,1500,0.499444,0.581111,hill,29.966667
Druim Fada,Druim Fada,6.5,1000,0.751111,0.972222,other,45.066667
Elrick,Elrick,3.6,650,0.358056,0.4425,relay,21.483333
Gondola,Gondola,2.5,2000,0.387222,0.518889,uphill,23.233333
Greenmantle,Greenmantle,2.0,650,0.254444,0.316667,other,15.266667

### Задание 11

Создать столбец `year` с годом соревнований (везде 2000 год). Внимание: столбец с годом должен быть числовым (целочисленным).

In [118]:
dat['year'] = 2000

In [120]:
dat.info() # int64

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, Aonach Mor Gondola to Greenmantle
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        77 non-null     object
 1   dist      77 non-null     object
 2   climb     77 non-null     object
 3   time      77 non-null     object
 4   timef     75 non-null     object
 5   type      77 non-null     object
 6   time_min  77 non-null     object
 7   year      77 non-null     int64
dtypes: int64(1), object(7)
memory usage: 7.5+ KB